<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index.html">Turismo 2026</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/agencias.html">Agencias</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Destinos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/pages/destinos.html">Ver Todos</a></li>
            <li><a class="dropdown-item" href="#">Destino1</a></li>
            <li><a class="dropdown-item" href="#">Destino2</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/contacto.html">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
