<nav class="navbar layouts-custom navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid nav-bar container ">
    <a class="navbar-brand fw-bold" href="/index.html">Turismo 2026</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto fw-medium">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index.html"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/agencias.html">Agencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/blog.html">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Destinos
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/pages/destinos.html">Ver Todos</a>
            </li>
            <li><a class="dropdown-item" href="/pages/blog.html#CerroSieteColores">Cerro Siete Colores</a></li>
            <li><a class="dropdown-item" href="/pages/blog.html#Tilcara">Tilcara</a></li>
            <li><a class="dropdown-item" href="/pages/blog.html#Salinas">Salinas</a></li>
            <li><a class="dropdown-item" href="/pages/blog.html#Hornocal">El Hornocal</a></li>
            <li><a class="dropdown-item" href="/pages/blog.html#Cusi">Cusi Cusi</a></li>
            <li><a class="dropdown-item" href="/pages/blog.html#Yungas">Yungas</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/contacto.html">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/mundogaturro.html">Modulo Phishing</a>
        </li>
      </ul>

      <button onclick="cambiarTema()" class="btn nav-link ms-lg-auto" aria-label="Cambiar tema">
        <i class="bi bi-moon-stars-fill"></i>
      </button>
    </div>
  </div>
</nav>
