.hero-yt {
    position: absolute;
    border: 0;
    opacity: 90%;
    pointer-events: none;
}

.card-img-custom {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.viajero {
    width: 100px;
    height: 100px;
    object-fit: cover
}

.fst-italic {
    max-width: 800px;
}

/* Animación de cards */
.card-animate {
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.card-animate.visible {
    opacity: 1;
}